<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <nav>
      <div>
        <h1>My Website</h1>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New Member</a></li>
      </ul>
    </nav>
    <hr />
    <h1>This Page Doesnt Exist</h1>
  </body>
</html>
